<!DOCTYPE>
<html>

    <head>
        <title>To Do List</title>
        <link rel='stylesheet' type='text/css'>
    </head>
    
    <style>
        body {
            text-align: center;
            background-color: blue;
            font-size: 23px;
        }
    </style>
    
    <body>
        {{{body}}}
    </body>
</html>