<h2>List Page</h2>
<p>Here are your tasks for today<p>

<form action='/' method='post'>
    Type in what you need to do:<br></br>
    <input name='title' type='text'>
    <br></br>
    <input type='submit'>
</form>

<ol>
   {{#each tasks}}
   <a style='color: black' href='/remove/{{id}}' >
   <li>{{title}}</li>
   </a>
   {{/each}}
</ol>